.intro {
  padding: 10px 0;

  &__grid {
    display: grid;
    gap: 8px;
  }

  &__content {
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 20px;
    border-radius: 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
  }

  &__advantages {
    @include list-reset;

    display: grid;
    gap: 10px;
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    max-height: 340px;
    overflow: hidden;
    background-color: var(--cyan-color);
    border-radius: 10px;

    & img {
      @include full-size;

      object-fit: contain;
      object-position: left bottom;
    }
  }

  @include media-min ($md) {
    &__content {
      padding: 60px;
    }

    &__img {
      max-height: none;
      height: 435px;
      padding-bottom: 0;
    }
  }

  @include media-min ($xl) {
    padding: 15px 0;

    &__grid {
      grid-template-columns: 1fr 1fr;
    }

    &__content {
      padding: 40px;
    }

    &__img {
      height: auto;
    }
  }

  @include media-min ($xxl) {
    &__content {
      padding: 60px;
    }

    &__title {
      margin-bottom: 100px;
    }

    &__advantages {
      display: flex;
      gap: 0;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: -10px;

      &>* {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
