:root {
  --black-color: #1e212c;
  --white-color: #ffffff;
  --gray-color: #cccccc;
  --blue-color: #3d8bfc;
  --blue-20-color: #d6e6fe;
  --blue-10-color: #f3f7fe;
  --cyan-color: #55cff9;
  --error: #ff5b38;
}

$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fhd: 1920px;
$primary-font: 'Montserrat';
