.chat-btns {
  position: fixed;
  z-index: 2;
  bottom: 60px;
  right: max(15px, (100% - 1640px - 100px) / 2);
  width: 48px;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05), 0 0 20px 0 rgba(0, 0, 0, .05);
  }

  & img {
    display: block;
    width: 32px;
    height: 32px;
  }

  @include media-min ($md) {
    bottom: 70px;
  }

  @include media-min ($xl) {
    bottom: 100px;
  }
}
