.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    &--offset {
      padding-top: 30px;
      padding-bottom: 90px;
    }
  }

  @include media-min ($fhd) {
    &__content {

      &--offset {
        padding-top: 40px;
        padding-bottom: 150px;
      }
    }
  }
}
